@using Sandbox.UI;
@using System;
@using System.Linq;

@namespace VNBase.UI
@inherits SubPanel

<root>
    <div class="buttons" @ref=ControlButtons>
        <button class="control-button" onclick="@ToggleAutomaticMode">@(IsAutomaticMode ? "Manual" : "Auto")</button>
        <button class="control-button" onclick="@ToggleUI">@(UIVisible ? "Hide UI" : "Show UI")</button>
        <button class="control-button" id="DialogueHistory">History</button>
    </div>

    <DialogueHistory class="hidden" Player="@Player" Settings="@Player.Settings" Hud="@this.Hud" />
</root>

@code {
    public Panel ControlButtons { get; set; }

    public bool UIVisible { get; private set; } = true;

    private bool IsAutomaticMode => Player?.AutomaticMode ?? false;
    private bool IsInputPressed => Settings?.HideUIInputs.Any(x => x.Pressed) ?? false;

    public override void Tick()
    {
        if (IsInputPressed)
        {
            ToggleUI();
        }
    }

    public void ToggleAutomaticMode()
    {
        Player.AutomaticMode = !Player.AutomaticMode;
    }

    public void ToggleUI()
    {
        // Panels that should not be hidden
        Type[] ignoredPanels = new Type[]
        {
            typeof(CharacterPortraits)
        };

        var panelsToHide = Parent.ChildrenOfType<SubPanel>()
            .Where(x => !ignoredPanels.Contains(x.GetType()))
            .Skip(1);

        foreach (var panel in panelsToHide)
        {
            panel.ToggleVisibility();
        }

        UIVisible = !UIVisible;
    }

    private SubPanel GetSubPanelFromId(string id)
    {
        return ChildrenOfType<SubPanel>().SingleOrDefault(x => x.ElementName == id.ToLower());
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (!firstTime) return;

        foreach (Button button in ControlButtons.ChildrenOfType<Button>())
        {
            if (button.Id != null)
            {
                SubPanel panel = GetSubPanelFromId(button.Id);

                button.AddEventListener("onclick", () =>
                {
                    panel.ToggleVisibility();
                });
            }
        }
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(UIVisible);
    }
}