@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;
@using System;
@using System.Collections.Generic;

@namespace VNBase.UI

@attribute [StyleSheet("/VNBase/UI/SubPanels/DialogBox.scss")]
@inherits Panel

<root>
    @if (Character != null)
    {
        <div class="characterPanel">
            <label class="character" style="color: @Character.NameColor.Rgba">@Character.Name</label>
            @if (Character.Title != null)
            {
                <label class="title" style="color: @Character.TitleColor.Rgba">@Character.Title</label>
            }
        </div>
    }

    <div class="dialoguePanel">
        @(DialogueText)
    </div>
</root>

@code {
    private static Pawn Player => Game.LocalPawn as Pawn;

    private string DialogueText { get; set; }
    private CharacterBase Character { get; set; }

    public override void Tick()
    {
        base.Tick();
        DialogueText = Player.VNScriptPlayer.ActiveDialogueText;
        Character = Player.VNScriptPlayer.ActiveCharacter;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(DialogueText, Character);
    }
}