@using Sandbox;
@using Sandbox.UI;
@using System;
@using System.Collections.Generic;

@namespace VNBase.UI
@inherits SubPanel

<root>
    @if (Player.SpeakingCharacter is not null)
    {
        <div class="characterPanel">
            <label class="character" style="color: @Player.SpeakingCharacter.NameColor.Rgba">@Player.SpeakingCharacter.Name</label>
            @if (!string.IsNullOrEmpty(Player.SpeakingCharacter.Title))
            {
                <label class="title" style="color: @Player.SpeakingCharacter.TitleColor.Rgba">@Player.SpeakingCharacter.Title</label>
            }
        </div>
    }

    <div class="dialoguePanel">
        @(Player.DialogueText)

        @if (Player.DialogueFinished && Player.DialogueChoices.IsNullOrEmpty())
        {
            <img class="finished-icon" src="/materials/vnbase/ui/icons/dialoguefinished.png" />
        }
    </div>
</root>

@code {
    protected override int BuildHash()
    {
        return HashCode.Combine(Player.DialogueText, Player.DialogueFinished);
    }
}